<div class="container mt-3 mb-3">
    <img src="" width="100%">
    <h1 class="text-center">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci iure dolor tempora tenetur doloremque
        fugit blanditiis odio facilis. Nisi impedit temporibus recusandae nesciunt animi illo cum atque repellat
        deleniti.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci iure dolor tempora tenetur doloremque
            fugit blanditiis odio facilis. Nisi impedit temporibus recusandae nesciunt animi illo cum atque repellat
            deleniti.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci iure dolor tempora tenetur doloremque
                fugit blanditiis odio facilis. Nisi impedit temporibus recusandae nesciunt animi illo cum atque repellat
                deleniti.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci iure dolor tempora tenetur doloremque
                    fugit blanditiis odio facilis. Nisi impedit temporibus recusandae nesciunt animi illo cum atque repellat
                    deleniti.</p>
</div>